* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */

img.logo {
  width: 150px;
}

i.fas.fa-bars {
  color: black;
}

.navbar {
    position: relative;
    min-height: none;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: none;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 25px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: -10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: blue;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  padding-top: 25px;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 30px;
    color: #555;
}

/* .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}

.nav>li>a {
    padding: 10px 6px;
}

span.right {
  display: none;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 5px;
    color: #555;
    width: 50%;
    margin-left: 287px;
    padding-left: 150px;

} */

/* JAMBO */
.container {
  width: 80%;
  margin: auto;
}

section.jambotron {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-right {
  color: white;
}

.content-left {
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* COSTUMIZE EMAIL PASWORD SECTION UTILITY */

h1#jumbo_title {
  font-size: 45px;
}
h3#deploy {
  padding-top: 20px;
}

h3#blue {
  color: blue;
  margin-top: 10px;
}

span.underline-blue {
  color: blue;
  text-decoration: underline;
}

p.t-s {
  font-size: 12px;
  padding-bottom: 10px;
}

p.grey_paragraph.jambo {
  text-align: left;
  color: lightgrey;
}

input#email {
  width: 90%;
  font-size: 11px;
  border: lightgrey solid 1px;
  border-radius: 3px;
  padding: 5px;
}

input#password {
  width: 90%;
  font-size: 11px;
  border: lightgrey solid 1px;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}

button#account {
  width: 90%;
  font-weight: bold;
  font-size: 11px;
  margin-top: 10px;
  background-color: blue;
  color: #fff;
  border-radius: 3px;
  padding: 5px 0;
  border: transparent;
}

img#little-logo {
  width: 35px;
  padding: none;
  vertical-align: middle;
}

button#google {
  width: 90%;
  font-weight: bold;
  font-size: 11px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 3px;
  border: #fff solid 1px;
  margin-bottom: 10px;
  padding-right: 48px;
  vertical-align: middle;
  box-shadow: 1px 1px lightgrey;
}

/* SECTION BUSINESS BRAND */

section.business-brand {
  background-color: #f3f5f9;
}

div.content_costum {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

div.business{
  color: grey;
}

div.story {
  color: blue;
}

.content_logo {
  text-align: center;
}

/* MAIN SECTION DEPLOY */

.container.deploy {
  text-align: left;
}

.content.head_title {
  text-align: center;
}

h2.deploy {
  margin-top: 50px;
  margin-bottom: 15px;
}

p.grey_paragraph {
  color: grey;
  font-size: 18px;
}

.p_costum {
  margin-bottom: 45px;
}

.content_v_nav {
  border-left: lightgrey solid 2px;
}

.content_v_nav:hover {
  border-left: blue solid 2px;
}

div.word {
  color: grey;
  padding-top: 11px;
  padding-left: 5px;
}

.content_section {
  margin-top: 15px;
}

.img_title_deploy {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
}

.content_section.last {
  margin-bottom: 60px;
}

/* SECTION 'DESIGNED FOR DEVELOPERS' */

section.designed_for_developers {
  background-color: #f3f5f9;
  text-align: center;
}

div.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: blue solid 1px;
  display: inline-block;
}

div.circle:hover {
  background-color: blue;
}

.content_little_circles {
  margin-top: 40px;
  margin-bottom: 50px;
}

img#page {
  width: 70%;
  margin-bottom: 20px;
}

/* FEATURES AND BUSINESS SECTION */

.content_bf_title {
  text-align: center;
}

.content_costum.bf {
  text-align: left;
  margin-top: 20px;
}

/* TABLE SECTION */

section#table_container {
  text-align: center;
  color: #fff;
  background-color: darkblue;
  background: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg") 50% 50% / cover no-repeat rgb(3, 27, 78);
}
.container_main_table {
  width: 80%;
  margin: auto;
}

.content_table {
    margin-left: 20px;
    padding-right: 22px;
}

td > a {
  color: #20e5d5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
  text-align: center;
}

td {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px 0;
}

td.first_td {
  width: 90px;
}

td.second_td {
  width: 220px;
  color: lightgrey;
}

td.third_td {
  width: 60px;
}

tr.last_tr > td {
  border-bottom: transparent;
}

/* <!-- ROCKBOX SECTION --> */

.content_i {
  display: inline-block;
  position: absolute;
  top: 50%;
}

.content_i.left {
  left: 23%;
}

.content_i.right {
  right: 23%;
}

.content_rock {
 position: relative;
}

#rockbox {
  width: 50%;
  background-color: white;
  display: inline-block;
}

.content_img_rock {
  width: 100%;
  height: 10%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.content_img_rock > img {
  width: 70%;

}

.content_costum.name:first-line {
  font-weight: bold;
}

div.content_costum.name{
    margin: 0;
}

.p_costum.new {
    margin: 10px;
}

h2.deploy.new {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* MAIN LAST SECTION */

.content_last {
  margin: 0;
}

section.blue_back {
  text-align: center;
  color: #fff;
  background-image: url("https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format");
  background-size: cover;
  background-repeat: no-repeat;
}

h2.last_title {
  margin-top: 30px;
  margin-bottom: 0;
}

button.last_button {
  background-color: #fff;
  color: blue;
  border-radius: 5px;
  border: transparent;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* FOOTER */

footer {
  background-color: #183153;
}

.container.foot_cont{
  color: #95abc9;
}

.content_copyright {
  margin-top: 40px;
}

p#cpy_p {
 margin-bottom: 0;
}

#img_copyright {
  margin-bottom: 15px;
}

#NY {
  font-size: 13px;
  color: #315a8e;
}

span.social > i {
  padding-right: 10px;
}

ul.footer_ul {
  font-size: 12px;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
}

ul.footer_ul > li {
  padding: 5px;
}

ul.footer_ul:first-line {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

/* SHARK */

.content_shark {
  width: 80%;
  position: fixed;
  bottom: 0;
  left:0;
  z-index: 1;
}

#sharky {
  margin-top: 20px;
  margin-left: 10px;
  width: 80px;
  border-radius: 5px;
}

.content_X_position {
  position: relative;
}

.content_red_ball {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 67px;
}

.red_ball {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: red;
  border: #fff solid 4px;
  border-radius: 50%;
}

.red_ball > p {
  text-align: center;
  margin-top: 3px;
}

.carret > i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: -10px;
}

.content_white {
  width: 350px;
  height: 55px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.content_white > p {
  padding: 8px;
}

/* MEDIA */

@media all and (min-width: 768px) {

  button.navbar-toggle.collapsed {
    display: inline-block;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    padding-top: 25px;
  }

  .navbar-default .navbar-nav>li>a {
      padding-top: 30px;
      color: #555;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
      color: #555;
      background-color: transparent;
  }

  .nav>li>a {
      padding: 10px 6px;
  }

span.right {
  display: none;
  float: right;
}

.nav-left {
  display: none;
}

  ul {
    padding: 0;
    margin: 0:
  }

  .btn-default {
      color: blue;
      background-color: #fff;
      border-color: blue;
      margin-top: 20px;
      margin-left: 25px;
  }
/* LOGO CONTAINER */

  .content_logo {
    width: 20%;
    height: 50px;
    padding-right: 35px;
  }

  img.img_logo {
    width: 100%;
    height: 100%
  }

  /* OLTRE JAMBO */

  .content_logo {
    text-align: center;
    width: 145px;
    height: 70px;
  }
}

@media all and (min-width: 992px) {

  button.navbar-toggle.collapsed {
    display: none;
  }

  span.right {
    display: inline-block;
    float: right;
  }

  .nav-left {
    display: inline-block;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    padding-top: 18px;
  }

  .navbar-default .navbar-nav>li>a {
      padding-top: 23px;
      color: #555;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
      color: #555;
      background-color: transparent;
  }

  .nav>li>a {
      padding: 10px 6px;
  }

span.right {
  float: right;
}

  ul {
    padding: 0;
    margin: 0:
  }

  .btn-default {
      color: blue;
      background-color: #fff;
      border-color: blue;
      margin-top: 14px;
      margin-left: 25px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
}

td.third_td {
  width: 68px;
}

.content_X_position, .content_white {
  float: right;
}
}
